<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iCase</title>
</head>

<body>
    <h2>HomePage</h2>
    <p>iCase</p>
    <h2>{{name}} </h2>
    {{author}}

    <h2>{% for tag in tags %}</h2>

    <p>{{tag}}</p>

    {% endfor%}

    <h2>if else</h2>
    {%if ratings > 3 %}
    <h3>ดีมาก</h3>
    {%else%}
    <h3>ไม่ได้รับความนิยม</h3>
    {%endif%}

</body>

</html>