<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title|capfirst }}</title>
</head>

<body>
    {{my_html|safe}}
    <p>
        {{request.user}}
    </p>
    <p>
        {{request.user.is_authenticated}}
    </p>

    <p>
        {%for num in my_nums%}
        <li>{{forloop.counter}} - {{num}}</li>
        {%endfor%}
    </p>

</body>

</html>